* { 
  /* border: 2px solid salmon; */
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
body{ 
  width: 100%;
  margin: 0%;
  background-color: whitesmoke;
}

main {
background-color: teal;
width: 700px;
margin: 10px auto;
padding: 20px 2%;
border: 5px solid rgb(18, 18, 49);
border-radius: 10px;
}

header {
text-align: center;
color: white;
font-style: italic;
text-shadow: 0px 0px 1px black;
}

.Personal-details label {
display: flex;
padding: auto;
justify-content: space-between;
align-items: center;
color: white;
}

h3 { 
  color: white;
  text-shadow: 0px 0px 1px black;
}

fieldset {
border: none;
margin: 30px auto;

}

#AOB {
width:97%;
height: 100px;
padding: 10px;
border-radius: 10px;
}

.lower-end{
display: flex;
flex-direction: column;
align-items:center;
gap: 50px;
}

.Personal-details input {
height: 2rem;
width: 400px;
border-radius: 10px;
color: rgb(78, 74, 74);
font-size: 1rem;
padding: 0px 2%;
}
#Nationality , #tech-fields {
  height: 1.5rem;
  border-radius: 10px;
  background-color: white;
}

.audience-loved-tech-fields label,  .audience-gender label {
  display: flex;
  align-items:flex-start;
  color: white;
  text-shadow: 0px 0px 1px black;
  box-sizing: border-box;
}

#submit-btn {
  background-image: linear-gradient(45deg, white, teal, white);
  color: white;
  text-shadow: 0px 0px 1px black;
  font-weight: bold;
  font-size: large;
  padding: 12px 24px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  width: 50%;
  transition: 0.2s;
  border: none;
  border-bottom: 4px solid rgb(78, 74, 74);
}

#submit-btn:hover {
  background-image: linear-gradient(45deg, teal, white, teal);
  color: teal;
  border-right: 4px solid  rgb(18, 18, 49);
  border-left: 4px solid  rgb(18, 18, 49);
}



marquee {
  margin-top: 20px;
  font-style: italic;
}


@media (max-width: 720px) {

  main{
      border: 5px solid rgb(18, 18, 49);
      width: 98%;
  }

  .Personal-details label {
    display: block; 
    }


    .Personal-details input {
      width: 96%;
      }
}